*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



img {
    width: 100%;
    height: auto;
    display: block;
}

.flex{
    display:flex

}
article{
    width: 33.333%;

}



header{
    background-color: gray;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

header .container{
    max-width: 1004px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

ul {
    list-style: none;
}

header .menu li{
    display: inline block;

}

header .menu li a{
    background-color: khaki;
    border-bottom: 2px solid rgb(rgb(80, 39, 1), green, blue);
    padding: 10px;
    display: block;
    margin-right:10px ;
    transition: 0.5s;
}

header .menu li a:hover{
    background-color: pink;
    
}